.center {

  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lateral {
  display: block;
  align-self: auto;
}

#up {

	box-shadow: 0px 0px 8px 0px #000000;
	background-color:#454cc7;
	border-radius:42px;
	border:4px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:-3px 4px 2px #293566;
}
#up:hover {
	background-color:#2a31bd;
}
#up:active {
	position:relative;
	top:1px;
}

.reset {
	box-shadow:inset 0px 26px 8px -15px #ff2200;
	background-color:#e60000;
	border-radius:1px;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 40px;
	text-decoration:none;
	text-shadow:-5px 4px 0px #7a2a1d;
}
.reset:hover {
	background-color:#ba2814;
}
.reset:active {
	position:relative;
	top:1px;
}

.colorfondo {
  background-color: rgb(24,25,26);
}

.colorPublicacion {
  background-color: rgb(36,37,38);
}

.colorFooter {
  background-color: rgb(75, 76, 77);
	height: 120px;
	text-align: center;
}

.logoGameboton {
	height: 370px;
}

.logoGamecolor {
	height: 300px;
	margin-top: 30px;
}

.titulo {
	color: #ffffff;
}

.fondoBoton {
	background-image: url(/static/img/botones.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.alpha { 
	color: purple;
	border: purple 1px solid; 
}

.alpha:hover {
	background-color: purple;
	color: white;
}

.gradient {
	border: orange 1px solid;
}

.gradient:hover {
	background: linear-gradient(to right, red, orange, yellow, green, blue);
	color: white;
}